<!DOCTYPE html>
<html lang="{{ $.Site.Language }}">
<head>
    {{ block "title" . }}
    <title>{{ if .IsHome }}{{ $.Site.Title }}{{ with $.Site.Params.Subtitle }} — {{ . }}{{ end }}{{ else }}{{ .Title }} :: {{ $.Site.Title }}{{ with $.Site.Params.Subtitle }} — {{ . }}{{ end }}{{ end }}</title>
    {{ end }}
    {{ partial "head.html" . }}
</head>
<body class="{{ if ne $.Site.Params.defaultTheme "light" -}} dark-theme {{- end -}}">
<div class="container">
    {{ partial "header.html" . }}

    <div class="content">
        What is a hackerspace?
        A hackerspace (also referred to as a hacklab, makerspace, or hackspace) is a community-operated physical space where people with common interests, often in computers, technology, science, digital art or electronic art, can meet, socialise and/or collaborate.

        Hackerspaces can be viewed as open community labs incorporating elements of machine shops, workshops and/or studios where hackers can come together to share resources and knowledge to build and make things.

        Many hackerspaces participate in the use and development of free software, open hardware, and alternative media.
    </div>

    {{ block "footer" . }}
    {{ partial "footer.html" . }}
    {{ end }}
</div>

</body>
</html>
